body {
 font: 16px/1.5 'Roboto Slab', sans-serif;
 margin: 0 0;
 color: #202328;
 background: #fff;
}

@media screen and (min-width: 660px) {
body {
 margin-top: 2em;
 background: #AF9A7B;
 /* public domain photo from https://www.loc.gov/resource/ppmsc.06867/ */
 background-image: url("loc06867mod.jpg");
 background-repeat: no-repeat;
 background-position: center 0;
 background-attachment: fixed;
}}

header, #content {
 max-width: 830px;
 margin: 0 auto;
 padding: 8px;
}
@media screen and (min-width: 660px) {
#content {
 background-color: rgba(245, 216, 172, 0.95);
 border: solid 1px #A09070;
 /*border-radius: 6px;*/
 padding: 16px 25px;
}}

a { color: #04a; text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #333; }
header { font-size: 22px; text-align: center; }
@media screen and (min-width: 660px) {
header { margin: 230px auto 0px; padding: 30px; }
#h::after { display: block; content: ''; height: 210px; }
header { position: -webkit-sticky; position: sticky; top: 230px; z-index: -1; }
header, header h1 { color: #fff; text-shadow: #333 2px 2px 2px;}
}

h1 { font-size: 200%; text-align: center; margin: 0; }
@media screen and (min-width: 480px) { h1 { font-size: 300%; }}

h2 { font-size: 150%; margin-bottom: 0.4em; }
@media screen and (min-width: 480px) { h2 { font-size: 180%; }}

h3 { font-size: 130%; margin-bottom: 0.4em; }


p, dl, table, pre, blockquote { margin: 0.5em 0; }
ul, ol { margin: 0 0 1em; }
/* p strong { font-weight: normal; font-size: 120%; } */

ul, ol { padding-left: 1.0em; }
@media screen and (min-width: 480px) { ul, ol { padding-left: 1.2em; }}

pre, code {
 font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
 background-color: #feb;
 color: #544;
 font-size: 95%;
}
pre { padding: .5em 1em; }
code { padding: .1em .25em; }

#content img { margin: 0 auto; }

footer { padding: 1em 0 2em; text-align: center; font-size: 85%;
         background-color: inherit;}
