<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="A small MX project to help big projects.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<style type="text/css">
 {% include my.css %}
</style>
<body>
 <div id="h"><header>
  <h1>{{page.h1}}</h1>
  {{ page.subh1 }}
 </header></div>
 <div id="content">
  {{ content }}
  <footer id="footer">
   All funded by <a href="http://www.ccp4.ac.uk">CCP4</a> and
   <a href="https://www.globalphasing.com/">Global Phasing Ltd</a>.
  </footer>
 </div>
</body>
</html>
